.local-stock-widget {
    height: 100%;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
}

.local-stock-heading {
    background-color: #b75f02;
    color: #e6eef5;
    height: 32px;
    padding-top: 2px;
    padding-left: 6px;
    font-size: 1em;
    line-height: 32px;
}

.local-stock-body {
    display: table;
    background-color: white;
    color: darkblue;
    width: 100%;
    height: 100%;
    padding: 20px;
    min-width: 250px;
}
/*
.local-stock-row {
    display: table-row;
}*/

.local-stock-icon {
    height: 24px;
    width: 24px;
    margin-top: -3px;
    margin-left: 3px;
}

.local-stock-name-area {
    display: table-cell;
    width: 180px;
    vertical-align: top;
    background-color: black;
    color: white;
    padding: 10px;
}

.local-stock-name-area h4 {
    margin-bottom: 4px;
    font-size: 10px;
}

.local-stock-name-area p {
    font-size: 20px;
}

.local-stock-picture-area {
    display: table-cell;
    background-size: cover;
    background-position: center;
}

.stock-graph-mg{
    /*width: 100%;
    height:100%*/

}
